.visitButton {
    display: flex;
    justify-content: center;
    width: 100%;

    button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        background-color: black;
        width: 100%;
        border: none;
        border-radius: 20px;

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f35525;
            border-radius: 50%;
            padding: 10px;
            width: 30px;
            height: 30px;
        }

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
        }


        &:hover {
            color: #f35525;
            cursor: pointer;

            i {
                color: white;
                transition: #3dafc6 1s;

            }

            label {
                color: #f35525;
                cursor: pointer;
            }


        }
    }

    @media (max-width: 300px) {
        button {
            width: 60%;

            i {
                padding: 5px;
                width: 20px;
                height: 20px;
                font-size: 0.5em;

            }

            label {
                font-size: 0.5em;
            }

        }

    }

    @media (min-width:300px) and (max-width: 768px) {
        button {
            width: 50%;
            i {
                padding: 5px;
                width: 20px;
                height: 20px;
                font-size: 1.3vw;
            }

            label {
                font-size: 1.3vw;
            }

        }
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        button {
            width: 100%;
            i {

                font-size: 1vw;
            }

            label {
                font-size: 1vw;
            }

        }
    }

    @media (min-width: 1024px) {
        button {
            width: 100%;

            i {
                font-size: 1vw;

            }

            label {
                font-size: 1vw;
            }
        }
    }
}