* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";



}

body {
    width: 100%;
    display: flex;
   
}

#root{
   
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}